<div class="container-contato">
    <div class="texto-home titulo">

        <h3> <span class="texto-azul">
                Contatos
            </span> </h3>
    </div>

    <div class="list-icon-contato">


        <ul>
            <a href="https://wa.me/+5521997775786/?text=Olá, Pedro! Vi seu portfólio e estou interessado(a) nos seus serviços. Gostaria de saber mais sobre.">
            <li>
                    <h3>
                        <i class="bi bi-whatsapp"></i>
                    </h3>
                    <p>
                        (21) 99777-5786
                    </p>
                </li>
            </a>
            <a href="{{email}}">
                <li>
                    <h3>
                        <i class="bi bi-envelope"></i>
                    </h3>
                    <p>
                        {{email}}
                    </p>
                </li>
            </a>
            <a href="https://www.instagram.com/pedro_barroco_/">
            <li>
                    <h3>
                        <i class="bi bi-instagram"></i>
                    </h3>
                    <p>
                        {{instagram}}
                    </p>
                </li>
            </a>
            <a href="https://www.linkedin.com/in/pedro-henrick-324aa32b1/">
            <li>
                    <h3>
                        <i class="bi bi-linkedin"></i>
                    </h3>
                    <p>
                        Pedro Henrick
                    </p>
                </li>
            </a>
            <a href="https://github.com/pedrwsxd">
            <li>
                    <h3>
                        <i class="bi bi-github"></i>
                    </h3>
                    <p>
                        Pedrwsxd
                    </p>
                </li>
            </a>
        </ul>
    </div>

</div>