<div class="container-sobre">

    <div class="texto-home titulo">

        <h2> <span class="texto-azul">
                Sobre
            </span> mim </h2>
    </div>
    <div class="texto-home">
        <p>
            Olá, sou <span class="texto-azul">Desenvolvedor Full Stack</span> com uma paixão por criar soluções
            tecnológicas eficientes e impactantes. Meu foco está em transformar ideias em realidade digital, com
            especialização no desenvolvimento de aplicações web e móveis, além de garantir uma experiência de usuário de
            alta qualidade.
            <br><br>
            Tenho experiência tanto em projetos <span class="texto-azul">freelancer</span> quanto acadêmicos, sempre me
            dedicando a entregar resultados que atendam às necessidades específicas de cada cliente. Meu portfólio
            inclui projetos para <span class="texto-azul">pessoas físicas e jurídicas</span>, e estou sempre em busca de
            novos desafios para expandir minhas habilidades e experiências.
            <br><br>
            Minhas principais ferramentas incluem <span class="texto-azul">Java, Spring Boot, Angular, Flutter, Figma,
                AWS</span> e outras tecnologias, que me permitem desenvolver soluções de ponta e inovadoras. Estou
            sempre buscando me atualizar e me alinhar às últimas tendências do mercado, garantindo a entrega de um
            trabalho de excelência.
            <br><br>
            Quando não estou codificando, gosto de praticar esportes, especialmente atletismo, o que me ajuda a manter a
            mente afiada e a resolver problemas de forma criativa.
            <br><br>
            Se você busca um <span class="texto-azul">site ou aplicação robusta</span> que se destaque, vamos conversar!
        </p>
    </div>

    <div class="sobre-img">
        <img src="assets/sobre/img-sobre.png" alt="">
    </div>

</div>