
<div class="container-skills">
    <div class="texto-home titulo">
    
        <h2> <span class="texto-azul">
                Skills
            </span>  </h2>
    </div>

<div class="list-icon-skills">
    <ul>
        <li>
            <fa-icon [icon]="faAngular" class="fa-brands fa-3x"></fa-icon>
            <p>Angular</p>
        </li>
        <li>
            <fa-icon [icon]="faJava" class="fa-brands fa-3x"></fa-icon>
            <p>Java</p>
        </li>
        <li>
            <fa-icon [icon]="faAws" class="fa-brands fa-3x"></fa-icon>
            <p>Amazon Web Services</p>
        </li>
        <li>
            <fa-icon [icon]="faFigma" class="fa-brands fa-3x"></fa-icon>
            <p>Figma</p>
        </li>
        <li>
            <fa-icon [icon]="faFlutter" class="fa-brands fa-3x"></fa-icon>
            <p>Flutter</p>
        </li>

    </ul>
</div>

</div>