<div class="container-home">
    <div class="texto-home">
        <h2>
            <span class="texto-azul">Olá, sou</span> <br>
            Pedro Henrick
        </h2>

        <p>Desenvolvedor Full Stack</p>

        <div class="icons-sociais">
            <ul>
                <li>
                    <a href="https://www.instagram.com/pedro_barroco_"  target="_blank">
                        <fa-icon [icon]="faInstagram" class="fa-3x"> </fa-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/pedro-henrick-324aa32b1/"  target="_blank">
                        <fa-icon [icon]="faLinkedin" class="fa-3x"> </fa-icon>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/pedrwsxd"  target="_blank"> <fa-icon [icon]="faGithub" class="fa-3x"> </fa-icon>
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/+5521997775786/?text=Olá, Pedro! Vi seu portfólio e estou interessado(a) nos seus serviços. Gostaria de saber mais sobre."  target="_blank"> <fa-icon [icon]="faWhatsapp" class="fa-3x"> </fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="img-home">
        <img src="assets/webp/foto_fundo.png" alt="">
    </div>
</div>