@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
:root {
    --primary-color: #00BFFF;
    --secondary-color: #FDF5F5;
    --third-color: #73FBFD;
    --font-1: "Poppins";
    --font-2: "Inter";
    --background-image: url("/assets/background.png"); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background-color: #131418; 
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
  }
  html{
    scroll-behavior: smooth;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  nav ul li {
    display: block;
    list-style-type: none;
    font-style: normal;
    list-style: none;
  }
  ul li a{
    text-decoration: none;
  }

  .texto-azul{
    color: var(--primary-color);
  }

.texto-home h3 {
    color: var(--secondary-color);
    max-width: 600px;
    margin: 0 0 30px 0;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.texto-home p {
    color: var(--primary-color);
    margin: 10px 0 10px 0;
    font-family: "Barlow", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 768px) {
  html, body {
    background-size: cover; 
    background-repeat: no-repeat;
}
  
}